docs/WSDL Serviços EFD-REINF - Producao/WsReinfConsultas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://sped.fazenda.gov.br/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ConsultasReinf" targetNamespace="http://sped.fazenda.gov.br/">
    <wsp:Policy Id="WsReceberLoteEventos_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="true"/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://sped.fazenda.gov.br/">
            <xs:element name="ConsultaResultadoFechamento2099">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="numeroProtocoloFechamento" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaResultadoFechamento2099Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaResultadoFechamento2099Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento1000">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento1000Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento1000Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento1070">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento1070Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento1070Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2010">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInscEstab" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstab" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="cnpjPrestador" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2010Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2010Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2020">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstabPrest" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInscTomador" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscTomador" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2020Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2020Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2030">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstab" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2030Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2030Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2040">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstab" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2040Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2040Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2050">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstab" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2050Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2050Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2055">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInscAdq" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscAdq" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInscProd" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscProd" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2055Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2055Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2060">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInscEstab" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstab" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2060Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2060Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2098">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2098Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2098Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2099">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="perApur" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento2099Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento2099Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento3010">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="tipoEvento" type="xs:int"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="tpInsc" type="xs:unsignedByte"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInsc" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="dtApur" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="nrInscEstabelecimento" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ConsultaReciboEvento3010Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ConsultaReciboEvento3010Result">
                            <xs:complexType mixed="true">
                                <xs:sequence>
                                    <xs:any/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="ConsultasReinf_ConsultaResultadoFechamento2099_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaResultadoFechamento2099"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaResultadoFechamento2099_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaResultadoFechamento2099Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento1000_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento1000"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento1000_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento1000Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento1070_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento1070"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento1070_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento1070Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2010_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2010"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2010_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2010Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2020_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2020"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2020_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2020Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2030_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2030"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2030_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2030Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2040_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2040"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2040_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2040Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2050_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2050"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2050_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2050Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2055_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2055"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2055_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2055Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2060_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2060"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2060_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2060Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2098_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2098"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2098_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2098Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2099_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2099"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento2099_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento2099Response"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento3010_InputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento3010"/>
    </wsdl:message>
    <wsdl:message name="ConsultasReinf_ConsultaReciboEvento3010_OutputMessage">
        <wsdl:part name="parameters" element="tns:ConsultaReciboEvento3010Response"/>
    </wsdl:message>
    <wsdl:portType name="ConsultasReinf">
        <wsdl:operation name="ConsultaResultadoFechamento2099">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaResultadoFechamento2099" message="tns:ConsultasReinf_ConsultaResultadoFechamento2099_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaResultadoFechamento2099Response" message="tns:ConsultasReinf_ConsultaResultadoFechamento2099_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento1000">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1000" message="tns:ConsultasReinf_ConsultaReciboEvento1000_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1000Response" message="tns:ConsultasReinf_ConsultaReciboEvento1000_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento1070">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1070" message="tns:ConsultasReinf_ConsultaReciboEvento1070_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1070Response" message="tns:ConsultasReinf_ConsultaReciboEvento1070_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2010">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2010" message="tns:ConsultasReinf_ConsultaReciboEvento2010_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2010Response" message="tns:ConsultasReinf_ConsultaReciboEvento2010_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2020">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2020" message="tns:ConsultasReinf_ConsultaReciboEvento2020_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2020Response" message="tns:ConsultasReinf_ConsultaReciboEvento2020_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2030">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2030" message="tns:ConsultasReinf_ConsultaReciboEvento2030_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2030Response" message="tns:ConsultasReinf_ConsultaReciboEvento2030_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2040">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2040" message="tns:ConsultasReinf_ConsultaReciboEvento2040_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2040Response" message="tns:ConsultasReinf_ConsultaReciboEvento2040_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2050">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2050" message="tns:ConsultasReinf_ConsultaReciboEvento2050_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2050Response" message="tns:ConsultasReinf_ConsultaReciboEvento2050_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2055">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2055" message="tns:ConsultasReinf_ConsultaReciboEvento2055_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2055Response" message="tns:ConsultasReinf_ConsultaReciboEvento2055_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2060">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2060" message="tns:ConsultasReinf_ConsultaReciboEvento2060_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2060Response" message="tns:ConsultasReinf_ConsultaReciboEvento2060_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2098">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2098" message="tns:ConsultasReinf_ConsultaReciboEvento2098_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2098Response" message="tns:ConsultasReinf_ConsultaReciboEvento2098_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2099">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2099" message="tns:ConsultasReinf_ConsultaReciboEvento2099_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2099Response" message="tns:ConsultasReinf_ConsultaReciboEvento2099_OutputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento3010">
            <wsdl:input wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento3010" message="tns:ConsultasReinf_ConsultaReciboEvento3010_InputMessage"/>
            <wsdl:output wsaw:Action="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento3010Response" message="tns:ConsultasReinf_ConsultaReciboEvento3010_OutputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_ConsultasReinf" type="tns:ConsultasReinf">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsp:PolicyReference URI="#WsReceberLoteEventos_policy"/>
        <wsdl:operation name="ConsultaResultadoFechamento2099">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaResultadoFechamento2099" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento1000">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1000" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento1070">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento1070" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2010">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2010" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2020">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2020" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2030">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2030" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2040">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2040" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2050">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2050" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2055">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2055" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2060">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2060" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2098">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2098" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento2099">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento2099" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConsultaReciboEvento3010">
            <soap:operation soapAction="http://sped.fazenda.gov.br/ConsultasReinf/ConsultaReciboEvento3010" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ConsultasReinf">
        <wsdl:port name="BasicHttpBinding_ConsultasReinf" binding="tns:BasicHttpBinding_ConsultasReinf">
            <soap:address location="https://reinf.receita.fazenda.gov.br/WsREINFConsultas/ConsultasReinf.svc"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>